{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>MMORPG_board— {% block title %} {% endblock title %}</title>

        <!-- Bootstrap core CSS -->
        <link
            href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
            rel="stylesheet"
        />
        <style>
          body {
            background-color: khaki; /* Измените на нужный вам цвет */
          }
        </style>
    </head>

    <body>
        <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Доска объявлений известной MMORPG</a>

        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Объявления <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'responses' %}">Отклики</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Личный кабинет
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'account_profile' %}">Профиль</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Вход/выход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %} {{ flatpage.content }} {% endblock content %}
                </div>
            </div>
        </div>
        <!-- Footer -->
<footer style="background-color: khaki; flex-shrink: 0; padding: 20px;">
    <div class="container">
        <div class="text-center">
            <p>Сделано для игроманов</p>
        </div>
    </div>
</footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
